/* Styles for the game board
/* #game-board {
    display: grid;
    grid-template-columns: repeat(n, 1fr);
    grid-template-rows: repeat(n, 1fr);
    gap: 1px;
    background-color: #ddd;
    padding: 5px;
  } */
  
  /* Styles for the individual cells */
/* .cell {
    background-color: #fff;
    border: 1px solid #aaa;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
  }
   */

  body {
    background-color: #02282a;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1 {
    text-align: center;
    color: rgb(40, 176, 146);
    font-size: 40px;
    margin-top: 20px;
  }
.edge {
  color: black;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#hud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#hud {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  background-color: rgb(40, 176, 146);
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  width: 60px;
  height: 150px;
  object-fit: cover;
}

.player-name {
  font-weight: bold;
  font-size: 16px;
}

.player-lives {
  font-weight: bold;
  font-size: 18px;
  display: flex;
}

.heart {
  width: 30px;
  height: 30px;
}

.player-image {
  width: 50px;
  height: 50px;
}

.bomb  {
  width: 50px;
  height: 50px;
  position: flex;
}